@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;900&display=swap');

:root {}


*, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #444;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    /* margin-top: -4rem; */
}

h2 {
    font-family: 'lexend';
}

.form-div-card {
    height: 4rem;
}

.card {
    width: 60%;
    min-width: 400px;
    background-color: #fff;
    /* height: 100%; */
    margin: 0rem auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #fff;
    padding: 2rem;
}

.card h2 {
    /* margin-top: 2rem; */
    font-family: 'Lexend';
    border-bottom: 2px solid rgb(221, 214, 214);
}

form {
    margin: 10px auto;
    padding: 2rem 4rem;
}

form p {
    text-align: left;
    font-family: "Lexend";
    font-size: 1.2rem;
    font-weight: bolder;
}

form input, textarea {
    display: block;
    margin: 10px 0px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(196, 187, 187);
    font-family: "Lexend";
}

textarea {
    border-radius: 10px;
}

form input:focus, textarea:focus {
    outline: none;
    border: 1px solid grey;
    background-color: #fff;
    color: black;
    font-family: "Lexend";
    /* text-transform: capitalize; */
}

form input::placeholder, form textarea::placeholder {
    color: black;
}

form input[type="submit"] {
    background-color: rgb(42, 126, 236);
    cursor: pointer;
    color: white;
}

form input[type="submit"]:hover {
    transform: scale(.95);
}

ul {
    list-style: none;
    text-align: left;
}

ul li {
    font-family: "Lato";
    font-weight: bold;
    border-bottom: 1px solid grey;
    font-size: 0.9rem;
    padding: 1rem 0rem;
}

ul li span:first-child {
    color: rgb(30, 30, 109);
    font-family: 'Lexend';
    font-weight: bolder;
}

.log-div {
    display: flex;
    justify-content: flex-end;
    font-family: "lexend";
    margin-top: 1rem;
}

.btn {
    cursor: pointer;
}

.log-div .btn {
    background-color: #456;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'lexend';
}

.user-info {
    display: none;
}

.log-in {}

.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(144, 189, 189, 0.795);
    z-index: 2;
    justify-content: center;
    top: 0%;
    left: 0%;
    margin: 0px;
    display: none;
}

.modal .login-form {
    margin: 4rem auto;
    background-color: #444;
    text-align: center;
    padding: 2rem;
    width: fit-content;
    border-radius: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: .3rem;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 3px;
    margin-right: 3px;
    font-family: 'lexend';
    cursor: pointer;
    font-weight: bolder;
}

.modal .login-form h2 {
    color: white;
    border-bottom: 2px solid grey;
}

@media only screen and (max-width:500px) {
    .card {
        padding: 2rem .5rem;
    }

    form {
        padding: 2rem 1rem;
    }
}